@media print {
	 
	* { border: none;}	
	body {
		background: #fff none !important;
		color: #000;
		border: none; 
	}

	#page, #header, #main, hgroup, nav, #main, #secondary,#primary, #content, article, #share, .print 
	{ border: none; }
	
	#content { border-left: 15px dotted green;  background: none;}
	header#branding { border-bottom: none; }

	#secondary { border: 25px dotted; }
	#page { border: none; }
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border: none;
		padding-bottom: 18pt; 
 	}
 	#uber { display: none;}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	#content { background: none; }
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#secondary { display: none; }
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
		border: none;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	.powered-by, .sep { display: none; }
 	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
	.entry-content img {
		max-width: 100%;
	}
}
